<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/bootstrap")
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700|Righteous|Kaushan+Script' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/script/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
